@charset "utf-8";



/** container **/
/* recruit - introD */
.introD .intro_recruit{padding:0 104px;}
.introD .intro_recruit .recruit_row{margin-left:-40px;}
.introD .intro_recruit .recruit_row > div{width:calc(16.66% - 40px);margin-left:40px;}
.introD .intro_recruit .recruit_bx{padding:174px 12px 54px;background-size: auto 100px;background-position: center top 40px;align-content:start;}
.introD .intro_recruit .recruit_bx h3{font-size:26px;line-height:32px;margin-bottom:1.2vh;}
.introD .intro_recruit .bgGray h3{margin:20px 0 0 0;}
.intro_department{width:100%;padding:5.44vh 100px 0;box-sizing:border-box;}
.intro_department *{box-sizing:border-box;}
.intro_department .department_swiper{border-radius:40px;overflow:hidden;height:38.085vh;}
.intro_department .department_swiper .swiper-wrapper{align-content:flex-start;flex-wrap:wrap;}
.intro_department .department_swiper .swiper-slide{position:relative;height:38.08vh !important;}
.intro_department .department_swiper .department_img,
.intro_department .department_swiper .department_img img{width:100%;height:100%;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);object-fit:cover;object-position:center center;z-index:-1;}
.intro_department .department_swiper .department_img:before{content:"";position:absolute;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.25);}
.intro_department .department_swiper .department_bx{display:flex;width:100%;padding:4.6vh 55px 4.6vh 60px;flex-wrap:wrap;justify-content:space-between;}
.intro_department .department_bx .department_txt{width:600px;}
.intro_department .department_bx .department_txt h2{font-size:56px;line-height:72px;font-weight:500;color:#fff;}
.intro_department .department_bx .department_txt p{font-size:15px;line-height:24px;font-weight:300;color:rgba(255,255,255,0.8);margin-top:2.937vh;}
.intro_department .department_bx .depLink_list{margin:7px 0 0 0;display:flex;flex-wrap:wrap;justify-content:flex-end;align-content:flex-start;}
.intro_department .department_bx .depLink_list li{display:block;background:transparent;border:none;margin:0;padding:0 5px 10px;transition:all 0.3s;}
.intro_department .department_bx .depLink_list li a{display:flex;width:100%;height:100%;border-radius:12px;font-size:16px;font-weight:500;line-height:19px;color:#fff;border:1px solid #fff;text-align:center;flex-wrap:wrap;justify-content:center;align-content:center;align-items:center;padding:13px 6px 12px;transition:all 0.3s;}
.intro_department .department_bx .depLink_list li a:hover{background:#fff;color:#000;font-weight:600;}
.intro_department .department_bx .depLink_list2{width:360px;}
.intro_department .department_bx .depLink_list2 li{width:50%;}
.intro_department .department_bx .depLink_list3{width:540px;}
.intro_department .department_bx .depLink_list3 li{width:33.33%;}
.intro_department .department_swiper .swiper_num{position:absolute;left:60px;bottom:6.31vh;width:200px;font-size:0;z-index:8;}
.intro_department .department_swiper .swiper_num span{font-family:"Roboto", sans-serif;font-size:15px;font-weight:500;letter-spacing:-0.5px;}
.intro_department .department_swiper .swiper_num span.swiper-pagination-current{color:#fff;}
.intro_department .department_swiper .swiper_num span.swiper-pagination-total{color:#ccc;position:relative;margin-left:10px;padding-left:10px;}
.intro_department .department_swiper .swiper_num span.swiper-pagination-total:before{content:"";position:absolute;width:1px;height:65%;background:#ccc;left:0;top:50%;transform:translateY(-50%);}

/* 240814 추가 */
.department_swiper .department_txt{display:flex;flex-wrap:wrap;align-content:start;}
.department_swiper .department_txt .swiperArrow{width:46px;height:72px;padding:10px 0 0 20px;box-sizing:border-box;}
.department_swiper .department_txt .swiperArrow .swiperBtn{width:26px;height:26px;background-size:22px auto;background-position:center center;background-repeat: no-repeat;opacity:0.7;transition:all 0.2s;}
.department_swiper .department_txt .swiperArrow .swiperBtn.swiperT{background-image:url(../img/ico_arrT.svg);}
.department_swiper .department_txt .swiperArrow .swiperBtn.swiperB{background-image:url(../img/ico_arrB.svg);}
.department_swiper .department_txt .swiperArrow .swiperBtn:hover{opacity:1;}
.department_swiper .hidden{position:absolute;left:-8999px;top:9999px;}
.department_swiper .department_txt p{width:100%;}
/* //240814 추가 */


/* recruit - introN */
.introN #header .header_inner,
.introN #footer address,
.introN #container{max-width:1540px;margin:0 auto;}
.introN #container{padding:0 100px;}
.introN .intro_recruit .recruit_row{margin-left:-40px;}
.introN .intro_recruit .recruit_row > div{margin-left:40px;}
.introN .intro_recruit .recruit_row > div:nth-child(1),
.introN .intro_recruit .recruit_row > div:nth-child(2){margin-bottom:4.35255vh;width:calc(50% - 40px);}
.introN .intro_recruit .recruit_row > div:nth-child(3),
.introN .intro_recruit .recruit_row > div:nth-child(4),
.introN .intro_recruit .recruit_row > div:nth-child(5),
.introN .intro_recruit .recruit_row > div:nth-child(6){width:calc(25% - 40px);}
.introN .intro_recruit .recruit_bx{background-position:center 10.3373vh;padding:24.483vh 1vw 10.228vh;background-size:auto 100px;}
.introN .intro_recruit .recruit_bx h3{font-size:32px;line-height:46px;margin-bottom:10px;}
.introN .intro_recruit .bgGray .recruit_bx p br{display:none;}
.introN .intro_recruit .bgGray .recruit_bx{background-position:186px center;padding:9.62vh 3.125vw 9.12vh 316px;justify-content:start;text-align:left;}
.introN .intro_recruit .bgGray .recruit_bx h3{margin-bottom:0;}

/* responsive */
@media all and (max-width:1810px){
    .introD .intro_recruit .recruit_bx h3{font-size:25px;}
    /* .introD .intro_recruit .recruit_bx p br{display:none;} */
}

@media all and (max-width:1740px){
    .introD .intro_recruit .recruit_row{margin-left:-30px;}
    .introD .intro_recruit .recruit_row > div{width:calc(16.66% - 30px);margin-left:30px;}
}

@media all and (max-width:1679px){
    .introD .intro_recruit .recruit_row{margin-left:-20px;}
    .introD .intro_recruit .recruit_row > div{width:calc(16.66% - 20px);margin-left:20px;}
    .introD .intro_recruit .recruit_bx h3{font-size:21px;}
    .introD .intro_recruit .recruit_bx p{font-size:14px;word-break:keep-all;}
    .introD .intro_recruit .recruit_bx p br{display:none;}

    .introN .intro_recruit .bgGray .recruit_bx{background-position:left calc(50% - 120px) center;padding:9.62vh 60px 9.12vh calc(50% - 50px);}
}

@media all and (min-height:821px) and (max-height:880px){
    .introD .intro_recruit .recruit_bx{padding:150px 12px 34px;background-size:auto 90px;}
}

@media all and (min-height:720px) and (max-height:820px){
    .introD .intro_recruit .recruit_bx{padding:120px 12px 34px;background-size:auto 70px;}
    .intro_department .department_swiper .department_bx{padding:3.5vh 55px 3.5vh 50px;}
    .intro_department .department_bx .department_txt h2{font-size:7vh;line-height:7.2vh;}
    .intro_department .department_swiper .swiper_num{left:50px;bottom:3.5vh;}
    .intro_department .department_bx .depLink_list li a{font-size:14px;padding:8px 6px;}

}

@media all and (max-height:719px){
    .introN .intro_recruit .recruit_bx h3{font-size:32px !important;line-height:46px !important;}

    .intro_department .department_swiper,
    .intro_department .department_swiper .swiper-slide{height:350px !important;}
    .intro_department .department_swiper .department_bx{padding:36px 60px 50px;}
}

@media all and (max-width:1440px){
    .introN #header .header_inner,
    .introN #footer address,
    .introN #container{max-width:100%;}
    .introN #container{padding:0;}
    .introN .intro_recruit .recruit_row{margin-left:-30px;}
    .introN .intro_recruit .recruit_row > div{margin-left:30px;}
    .introN .intro_recruit .recruit_row > div:nth-child(1),
    .introN .intro_recruit .recruit_row > div:nth-child(2){margin-bottom:3.264vh;width:calc(50% - 30px);}
    .introN .intro_recruit .recruit_row > div:nth-child(3),
    .introN .intro_recruit .recruit_row > div:nth-child(4),
    .introN .intro_recruit .recruit_row > div:nth-child(5),
    .introN .intro_recruit .recruit_row > div:nth-child(6){width:calc(25% - 30px);}
    .introN .intro_recruit .recruit_bx{background-position:center 8.3373vh;}

    .intro_department{padding:5.44vh 40px 0;}
    .intro_department .department_swiper .department_bx{padding:36px 40px;}
    .intro_department .department_bx .department_txt{width:550px;}
    .intro_department .department_bx .department_txt p{word-break:keep-all;}
    .intro_department .department_bx .department_txt p br{display:none;}
    .intro_department .department_swiper .swiper_num{left:40px;}
}

@media all and (max-width:1280px){
    .introN .intro_recruit .recruit_row{margin-left:-20px;}
    .introN .intro_recruit .recruit_row > div{margin-left:20px;}
    .introN .intro_recruit .recruit_row > div:nth-child(1),
    .introN .intro_recruit .recruit_row > div:nth-child(2){margin-bottom:2.1762vh;width:calc(50% - 20px);}
    .introN .intro_recruit .recruit_row > div:nth-child(3),
    .introN .intro_recruit .recruit_row > div:nth-child(4),
    .introN .intro_recruit .recruit_row > div:nth-child(5),
    .introN .intro_recruit .recruit_row > div:nth-child(6){width:calc(25% - 20px);}
    .introN .intro_recruit .recruit_bx{background-position:center 7.3373vh;}
    .introN .intro_recruit .recruit_bx h3 {font-size:24px !important;line-height:34px !important;}

    body,
    .introD{overflow-y:auto;height:auto;display:block;}
    .introD .intro_recruit{margin-top:30px;}
    .introD .intro_recruit .recruit_row > div{width:calc(33.3% - 20px);}
    .introD .intro_recruit .recruit_row > div:nth-child(1),
    .introD .intro_recruit .recruit_row > div:nth-child(2),
    .introD .intro_recruit .recruit_row > div:nth-child(3){margin-bottom:20px;}

    .intro_department .department_swiper,
    .intro_department .department_swiper .swiper-slide{height:350px !important;}
    .intro_department .department_swiper .department_bx{padding:24px 40px 50px;}
    .intro_department .department_bx .department_txt{width:calc(100% - 515px);padding-right:20px;}
    .intro_department .department_bx .department_txt h2{font-size:46px;line-height:60px;}
    .intro_department .department_bx .department_txt p{font-size:14px;line-height:22px;}
    .intro_department .department_bx .depLink_list2{width:350px;}
    .intro_department .department_bx .depLink_list3{width:515px;}


    /* 240814 추가 */
    .department_swiper .department_txt .swiperArrow{padding:5px 0 0 20px;height:60px;}
    .department_swiper .department_txt .swiperArrow .swiperBtn{width:24px;height:24px;}    
    /* //240814 추가 */
}

@media all and (max-width:1040px){
    body,
    .introN{overflow-y:auto;height:auto;display:block;}
    .introN .intro_recruit{margin-top:30px;}

    .introN .intro_recruit .recruit_bx,
    .introD .intro_recruit .recruit_bx{height:100%;box-sizing:border-box;background-size:auto 70px !important;background-position:center 26px !important;padding:111px 4px 28px 4px !important;}
    .introN .intro_recruit .recruit_bx h3,
    .introD .intro_recruit .recruit_bx h3{font-size:18px !important;line-height:30px !important;margin-bottom:5px !important;}
    .introN .intro_recruit .recruit_bx p,
    .introD .intro_recruit .recruit_bx p{font-size:13px !important;line-height:18px !important;word-break:keep-all;}
    .introN .intro_recruit .bgGray .recruit_bx{justify-content:center;text-align:center;}
    .introN .intro_recruit .recruit_bx br{display:none;}
    .introN .intro_recruit .recruit_row > div:nth-child(3), 
    .introN .intro_recruit .recruit_row > div:nth-child(4), 
    .introN .intro_recruit .recruit_row > div:nth-child(5), 
    .introN .intro_recruit .recruit_row > div:nth-child(6) {width: calc(50% - 20px);}
    .introN .intro_recruit .recruit_row > div:nth-child(1), 
    .introN .intro_recruit .recruit_row > div:nth-child(2),
    .introN .intro_recruit .recruit_row > div:nth-child(3),
    .introN .intro_recruit .recruit_row > div:nth-child(4){margin-bottom:2.1762vh;}

    .introD .intro_recruit .bgGray h3{margin:10px 0 0 0 !important;}

    .introN .intro_recruit .bgGray .recruit_bx{padding: 131px 4px 49px 4px !important;background-position: center top 46px !important;}
    .introN .intro_recruit .bgGray .recruit_bx h3{margin:0 !important;}

    .intro_department{padding:30px 26px 0;}
    .intro_department .department_swiper{border-radius:15px;}
    .intro_department .department_swiper,
    .intro_department .department_swiper .swiper-slide{height:650px !important;}
    .intro_department .department_swiper .department_bx{display:block;padding:26px 25px 25px 23px;}
    .intro_department .department_bx .department_txt{padding-right:0;width:100%;}
    .intro_department .department_bx .department_txt h2{font-size:28px;line-height:40px;font-weight:600;}
    .intro_department .department_bx .department_txt p{font-size:12px;line-height:18px;margin:23px 0 0 1px;}
    .intro_department .department_bx .department_txt p br{display:block;}
    .intro_department .department_bx .depLink_list{width:100%;margin:41px 0 0 0;}
    .intro_department .department_bx .depLink_list li{display:block;width:100%;padding:0;}
    .intro_department .department_bx .depLink_list li a{border-radius:0;border:none;box-shadow:none;justify-content:start;border-top:1px solid rgba(255,255,255,0.2);padding:13px 0;font-size:15px;font-weight:400;}
    .intro_department .department_bx .depLink_list li a br{display:none;}
    .intro_department .department_bx .depLink_list li a:hover{background:transparent;color:#fff;}
    .intro_department .department_bx .depLink_list li:first-child a{border-top:none;}
    .intro_department .department_swiper .swiper_num{left:auto;right:26px;bottom:auto;top:29px;width:auto;}
    .intro_department .department_swiper .swiper_num span{font-size:14px;font-weight:400;}
    .intro_department .department_swiper .swiper_num span,
    .intro_department .department_swiper .swiper_num span.swiper-pagination-total{color:#fff;}
    .intro_department .department_swiper .swiper_num span.swiper-pagination-total{padding-left:0;margin-left:0;}
    .intro_department .department_swiper .swiper_num span.swiper-pagination-total:before{content:"/";font-size:15px;color:#fff;display:inline-block;position:relative;left:0;top:0;background:none;width:auto;height:auto;transform:translateY(0);}
    .intro_department .department_swiper .department_img:before{content:"";position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.3);}


    /* 240814 추가 */
    .department_swiper .department_txt .swiperArrow{padding:0;width:auto;height:auto;display:flex;flex-wrap:wrap;position:absolute;left:50%;bottom:30px;transform:translateX(-50%);}
    .department_swiper .department_txt .swiperArrow .swiperBtn{width:24px;height:24px;}
    .department_swiper .department_txt .swiperArrow .swiperBtn.swiperB{margin-left:10px;}
    .intro_department .department_swiper, 
    .intro_department .department_swiper .swiper-slide{height:750px !important;}
    .intro_department .department_bx .department_txt h2{max-width:calc(100% - 40px);}
    /* //240814 추가 */
}

@media all and (max-width:768px){
    .introD .intro_recruit .bgGray .recruit_bx{padding:131px 4px 49px 4px !important;background-position:center top 46px !important;}
    .introD .intro_recruit .bgGray h3{margin:0 !important;}

    .introN .intro_recruit .recruit_bx{align-content:start;} 

    .intro_department{padding:30px 17px 0;}
    .intro_department .department_swiper,
    .intro_department .department_swiper .swiper-slide{height:690px !important;}
    .intro_department .department_bx .department_txt p br{display:none;}


    /* 240814 추가 */
    .department_swiper .department_txt .swiperArrow{padding-left:10px;}
    .department_swiper .department_txt .swiperArrow .swiperBtn{width:22px;height:22px;background-size:22px auto;}
    .department_swiper .department_txt .swiperArrow .swiperBtn.swiperB{margin-left:5px;}
    .intro_department .department_bx .department_txt p{margin:14px 0 0 1px;}
    .intro_department .department_bx .depLink_list{margin:15px 0 0;}
    .intro_department .department_bx .depLink_list li a{padding:10px 0;}
    /* //240814 추가 */
}

@media all and (max-width:389px){
    .introN .intro_recruit .recruit_bx h3,
    .introD .intro_recruit .recruit_bx h3{font-size:16px !important;line-height:28px !important;}
    .introN .intro_recruit .recruit_bx p,
    .introD.intro_recruit .recruit_bx p{font-size:12px !important;line-height:16px !important;}

    /* 240814 추가 */
    .intro_department .department_bx .department_txt h2{font-size:26px;}
    /* //240814 추가 */
}

