@charset "utf-8";
@import url(font_noto/font.css);
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/* 공통 */
#dim {position:fixed;top:0;left:0;width:100%;height:100%;background:#000;visibility:hidden;opacity:0;}
#dim.on {visibility:visible;opacity:0.3;z-index:900;}
#dim.popup {visibility:visible;opacity:0.3;z-index:5000;}

.typeNoArticle {height:auto !important;padding:0 !important;}
.no_article {display:block;width:100%;padding:165px 0 65px;background:url(../img/board/ico_noArticle.png) no-repeat 50% 60px;color:#666;font-size:20px;line-height:21px;text-align:center;letter-spacing:-1px;}

.list_dot {}
.list_dot li {overflow:hidden;padding-left:8px;background:url(../img/board/bul_rec_gray.png) no-repeat 0 8px;}
.list_dot li+li {margin-top:10px;}


/* 검색 */
/* 상단검색 */
.BBS_option {clear:both;position:relative;height:40px;padding:0 0 25px;}
.BBS_option .listNum {float:left;color:#272727;font-size:16px;line-height:40px;font-weight:400;}
.BBS_option .listNum b {margin-left:3px;color:#1a8500;/*font-size:16px;*/font-weight:400;}
.BBS_option .searchBox {position:relative;float:right;overflow:hidden;box-sizing:border-box;margin-bottom:25px;text-align:right;font-size:0;}
.BBS_option .searchBox .inp_s {width:100px;margin-left:5px;vertical-align:top;}
.BBS_option .searchBox .search {position:relative;display:inline-block;width:250px;box-sizing:border-box;height:40px;margin-left:5px;padding-right:39px;background:#fff;vertical-align:top;font-size:0 !important;}
.BBS_option .searchBox .search .btn_search {position:absolute;right:0;top:0;overflow:hidden;width:40px;height:40px;background:#353541 url(../img/board/ico_magnify_white.png) no-repeat 50% 50%;text-indent:-100px;}
.BBS_option .searchBox .btn_rss {margin-left:10px;}

#verEng .BBS_option .searchBox .inp_s,
#verChn .BBS_option .searchBox .inp_s,
#verVnm .BBS_option .searchBox .inp_s {width:125px;font-size:14px;}

/* 리스트 */

/* 기본 게시판 고정항목 순서
th 1번 : 번호 / th.headNum
th 2번 : 카테고리 / th.headCateg
th 3번 : 제목 / th.headTxt
th 4번 : (첨부)파일 / th.headFile
th 6번 : 작성자 / th.headWriter
th 5번 : 등록일 / th.headDate
th 7번 : 조회수 / th.headView
*/
.BBSlist thead th.headNum {width:50px;}
.BBSlist thead th.headCateg {width:90px;}
.BBSlist thead th.headTxt {}
.BBSlist thead th.headFile {width:70px;}
.BBSlist thead th.headDate {width:90px;}
.BBSlist thead th.headWriter {width:120px;}
.BBSlist thead th.headView {width:60px;}

.BBSlist {width:100%;border-top:2px solid #364f60;}
.BBSlist th {height:53px;border-bottom:1px solid #bbb;background:#f3f4f6;color:#272727;font-size:16px;font-weight:400;}
.BBSlist td {overflow:hidden;text-overflow:ellipsis;height:53px;border-bottom:1px solid #e9e9e9;background:#fff;color:#222;font-size:14px;white-space:nowrap;text-align:center;}
.BBSlist td.tbodyNum>span {font-family:'Noto Sans KR';font-size:15px;}
.BBSlist td.tbodyDate>span,
.BBSlist td.tbodyView>span {font-family:'Roboto';font-size:15px;}
.BBSlist td a {display:inline-block;overflow:hidden;text-overflow:ellipsis;max-width:100%;color:#272727;font-size:16px;font-weight:400;line-height:20px;vertical-align:middle;white-space:nowrap;}
.BBSlist tr.typeNoti td.tbodyNum {height:53px;color:#1a8500;font-weight:500;line-height:53px;}
.BBSlist tr.typeNoti td.tbodyNum>span {display:inline-block;height:23px;padding:0 9px;border:1px solid #4d9d3a;font-size:13px;line-height:23px;}
.BBSlist .mark_categ {color:#1a8500;font-size:16px;line-height:20px;font-weight:normal;}
.BBSlist .txtL {padding-left:10px;}
.BBSlist .txtL a:hover,
.BBSlist .txtL a:active {color:#1a8500;text-decoration:underline;}
.BBSlist .txtL .ico_new {display:inline-block;overflow:hidden;width:20px;height:20px;margin:0 0 0 3px;background:url(../img/board/ico_cirNew.png) no-repeat center;background-size:18px 18px;text-indent:-200px;vertical-align:middle;}
.BBSlist .txtL .ico_lock {display:inline-block;overflow:hidden;width:20px;height:20px;margin:0 0 0 3px;background:url(../img/board/ico_lock.png) no-repeat center;text-indent:-200px;vertical-align:middle;}
.BBSlist .txtL .answer {display:inline-block;overflow:hidden;color:#1a8500;font-size:16px;font-weight:400;line-height:20px;vertical-align:middle;}
.BBSlist td.txtAdd a {max-width:82%;}
.BBSlist td.txtInfo a {max-width:67%;}
.BBSlist tr.typeReply .txtL {padding-left:40px;background:url(../img/board/mark_reply.png) no-repeat 20px 50%;}
.BBSlist .hasArea {overflow:hidden;font-size:0;}
.BBSlist .hasArea .hasfile {display:inline-block;overflow:hidden;width:15px;height:20px;background:url(../img/board/ico_doc.png) no-repeat 0 50%;text-indent:-100px;vertical-align: middle;}
.BBSlist .hasArea .hasfileNum {display:inline-block;height:20px;margin:0 0 0 5px;padding:0;vertical-align:middle;}
.BBSlist .hasArea .hasfileNum>span {display:inline-block;height:20px;margin:0;padding:0;color:#272727;font-size:15px;line-height:20px;}
.BBSlist .writer {color:#000;font-size:16px;line-height:20px;font-weight:400;}
.BBSlist .date,
.BBSlist .view {color:#666;font-size:16px;line-height:20px;font-weight:400;}

.BBSlist .typeIco .txtL a {max-width:calc(100% - 60px);}
.BBSlist .typeAns .txtL a {max-width:calc(100% - 45px);}
.BBSlist .typeIco.typeAns .txtL a {max-width:calc(100% - 97px);}

#verKor .BBSlist .txtL .ico_new {background:url(../img/board/ico_cirNew.png) no-repeat 50% 50%;}
#verKor .BBSlist .txtL .ico_lock {background:url(../img/board/ico_lock.png) no-repeat 50% 50%;}

/* Q&A */

/* Q&A 게시판 고정항목 순서
th 1번 : 번호 / th.headNum
th 2번 : 카테고리 / th.headCateg
th 3번 : 제목 / th.headTxt
th 4번 : (첨부)파일 / th.headFile
th 6번 : 작성자 / th.headWriter
th 5번 : 등록일 / th.headDate
th 7번 : 조회수 / th.headView
th 8번 : 답변여부 / th.headResult
*/
.BBSlist thead th.headNum {width:50px;}
.BBSlist thead th.headCateg {width:90px;}
.BBSlist thead th.headTxt {}
.BBSlist thead th.headFile {width:70px;}
.BBSlist thead th.headDate {width:90px;}
.BBSlist thead th.headWriter {width:120px;}
.BBSlist thead th.headView {width:60px;}
.BBSlist thead th.headResult {width:80px;}

.BBSlist .result {color:#999;font-size:16px;line-height:20px;}
.BBSlist .result.ok {color:#1a8500;}

/* faq */
.BBSfaq {border-top:2px solid #364f60;}
.BBSfaq .typeNoArticle {border-bottom:1px solid #e9e9e9;}
.BBSfaq dt {position:relative;min-height:60px;box-sizing:border-box;padding:19px 50px 11px 85px;border-bottom:1px solid #e9e9e9;background:url(../img/board/ico_arrB_gray.png) no-repeat right 10px top 25px;cursor:pointer;}
.BBSfaq dd {position:relative;overflow:hidden;height:0;box-sizing:border-box;padding:0 20px 0 85px;transition:.15s;}
.BBSfaq dt.on {border-bottom:none;background:#f7f7f9 url(../img/board/ico_arrT_gray.png) no-repeat right 10px top 25px;font-weight:400;}
.BBSfaq dd.on {height:auto;padding:11px 45px 19px 85px;border-bottom:1px solid #c5ced4;background:#f7f7f9;}
.BBSfaq dt.on .mark_categ,
.BBSfaq dt.on p {font-weight:400;}
.BBSfaq .faq_q,
.BBSfaq .faq_a {display:block;position:absolute;left:30px;overflow:hidden;width:20px;height:26px;text-indent:-500px;}
.BBSfaq .faq_q {top:21px;background:url(../img/board/ico_faqQ.png) no-repeat 50% 50%;}
.BBSfaq .faq_a {top:10px;background:url(../img/board/ico_faqA.png) no-repeat 50% 50%;}
.BBSfaq dt .txtL>.mark_categ {display:inline-block;color:#272727;font-size:17px;line-height:23px;vertical-align:top;}
.BBSfaq dt .txtL>p {display:inline;overflow:hidden;font-size:17px;line-height:23px;}
.BBSfaq dt .txtL .ico_new {display:inline-block;overflow:hidden;width:20px;height:20px;margin:0 0 0 5px;background:url(../img/board/ico_cirNew.png) no-repeat 50% 50%;text-indent:-200px;vertical-align:middle;}
.BBSfaq dd>p {color:#555;font-size:15px;line-height:25px;word-break:break-all;word-wrap:break-word;}
.BBSfaq .fileArea {overflow:hidden;margin:25px 0 0;padding:20px 0 0;border-top:1px solid #ddd;}
.BBSfaq .fileArea p {padding:0 0 0 25px;background:url(../img/board/ico_doc.png) no-repeat 0 3px;}
.BBSfaq .fileArea p+p {margin:10px 0 0;}
.BBSfaq .fileArea p a {display:inline;overflow:hidden;text-overflow:ellipsis;max-width:calc(100% - 25px);color:#555;font-size:15px;line-height:20px;vertical-align:middle;}
.BBSfaq .fileArea p a:hover {text-decoration:underline;}
.BBSfaq .fileArea p .btn_preview {display:inline-block;width:75px;height:20px;margin:0 0 0 5px;padding:0 0 0 18px;background:url(../img/board/ico_magnifyPlus.png) no-repeat 0 50%;color:#555;font-size:13px;line-height:13px;vertical-align:middle;}
.BBSfaq li.on dd {height:auto;padding-bottom:25px;/*border-top:1px solid #dddfe5;*/}
.BBSfaq li.on dd::before {content:'';display:block;position:absolute;left:0;top:0;width:100%;height:1px;background:#dddfe5;}

/* 사진,동영상 게시판 */
.BBSgallery {padding:5px 0 0;border-top:2px solid #2d313e;}
.BBSgallery li {position:relative;min-height:125px;padding:33px 0 40px 235px;border-bottom:1px solid #e9e9e9;}

.BBSgallery li .photo {position:absolute;left:0;top:30px;overflow:hidden;width:204px;height:138px;font-size:0;}
.BBSgallery li .photo img {width:100%;height:100%;vertical-align:top}
.BBSgallery li .photo a.btn_play {display:block;position:relative;background:#000;font-size:0;}
.BBSgallery li .photo a.btn_play::before {content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:url(../img/board/bg_playBg.png) repeat;}
.BBSgallery li .photo a.btn_play::after {content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:url(../img/board/ico_play.png) no-repeat 50% 50%;}
.BBSgallery li .txtL {overflow:hidden;margin-bottom:15px;font-size:0;}
.BBSgallery li .txtL>a {display:inline-block;overflow:hidden;text-overflow:ellipsis;max-width:calc(100% - 25px);color:#272727;font-size:17px;font-weight:400;line-height:27px;white-space:nowrap;letter-spacing:-1px;}
.BBSgallery li .mark_categ {float:left;display:inline-block;margin-right:3px;color:#1a8500;font-size:17px;font-weight:400;line-height:27px;vertical-align:middle;letter-spacing:-1px;}
.BBSgallery li .ico_new {display:inline-block;overflow:hidden;width:18px;height:18px;margin:5px 0 0 5px;background:url(../img/board/ico_cirNew.png) no-repeat left top;text-indent:-100px;vertical-align:top;}
.BBSgallery li .txt_s {overflow:hidden;max-height:45px;margin-bottom:25px;color:#555;font-size:15px;line-height:25px;}
.BBSgallery li .txtInfo {text-align:left;}
.BBSgallery li .txtInfo>span {display:inline-block;position:relative;margin-right:5px;padding-right:10px;color:#555;font-size:15px;line-height:16px;}
.BBSgallery li .txtInfo>span::before {content:'';display:inline-block;position:absolute;left:0;top:0;height:16px;color:#555;font-size:15px;line-height:16px;}
.BBSgallery li .txtInfo>span::after {content:'';display:block;position:absolute;right:0;top:3px;width:1px;height:12px;background:#dddfe5;}
.BBSgallery li .txtInfo>span:last-child {margin-right:0;padding-right:0;}
.BBSgallery li .txtInfo>span:last-child::after {display:none;}
.BBSgallery li .txtInfo .view {padding-left:50px;}
.BBSgallery li .txtInfo .view::before {content:'조회수';width:50px;}
.BBSgallery li .info_comment {display:block;position:absolute;right:0;bottom:39px;height:20px;padding-left:20px;background:url(../img/board/ico_speechBubble.png) no-repeat left 2px;color:#272727;font-size:15px;line-height:16px;}
.BBSgallery li .info_comment>em {display:block;overflow:hidden;position:absolute;top:-1000em;left:0;width:1px;height:1px;}

#verEng .BBSgallery li .txt_s,
#verChn .BBSgallery li .txt_s,
#verVnm .BBSgallery li .txt_s {max-height:47px;}
#verEng .BBSgallery li .txtInfo .view::before,
#verChn .BBSgallery li .txtInfo .view::before,
#verVnm .BBSgallery li .txtInfo .view::before {content:'Views';}

.BBSgallery.BBSthumb {border-bottom:1px solid #e9e9e9;}
.BBSgallery.BBSthumb ul {overflow:hidden;width:100%;margin-bottom:-1px;}
.BBSgallery.BBSthumb li {float:left;width:25%;height:260px;padding:30px 0;}
.BBSgallery.BBSthumb li.typeNoArticle {float:none;width:100%;margin:0;padding:0;}
.BBSgallery.BBSthumb li .photo {position:static;left:auto;top:auto;margin:0 auto 15px;}
.BBSgallery.BBSthumb li .txtL {width:204px;overflow:hidden;max-height:55px;margin:0 auto;}
.BBSgallery.BBSthumb li .txtL>a {display:inline;max-height:50px;white-space:normal;}
.BBSgallery.BBSthumb li .txtInfo {width:204px;overflow:hidden;margin:5px auto 0;}
.BBSgallery.BBSthumb li .txtInfo .date::after {display:none;}
.BBSgallery.BBSthumb li .txt_s {display:none;}
/*.BBSgallery.BBSthumb li .info_comment {display:block !important;left:50%;bottom:30px;margin-left:-100px}*/
.BBSgallery.BBSthumb li .info_comment {display:block !important;position:static;left:auto;bottom:auto;width:184px;margin:5px auto 0;}

#verEng .BBSgallery li .mark_categ,
#verChn .BBSgallery li .mark_categ,
#verVnm .BBSgallery li .mark_categ {line-height:23px;}
#verEng .BBSgallery.BBSthumb li .txtL,
#verChn .BBSgallery.BBSthumb li .txtL,
#verVnm .BBSgallery.BBSthumb li .txtL {max-height:50px;}
#verEng .BBSgallery.BBSthumb li .txtL>a,
#verChn .BBSgallery.BBSthumb li .txtL>a,
#verVnm .BBSgallery.BBSthumb li .txtL>a {line-height:23px;}



/* 링크 */

/* 링크 게시판(기본) 고정항목 순서
th 1번 : 번호 / th.headNum
th 2번 : 카테고리 / th.headCateg
th 3번 : 제목 / th.headTxt
th 4번 : 작성자 / th.headWriter
th 5번 : 등록일 / th.headDate
th 6번 : 조회수 / th.headView
*/
.BBSlist thead th.headNum {width:50px;}
.BBSlist thead th.headCateg {width:90px;}
.BBSlist thead th.headTxt {}
.BBSlist thead th.headDate {width:90px;}
.BBSlist thead th.headWriter {width:120px;}
.BBSlist thead th.headView {width:60px;}

.BBSlist.BBSphoto .photo {width:106px;height:72px;}
.BBSlist.BBSphoto .photo img {width:106px;height:72px;}

/* 링크 게시판(포토) 고정항목 순서
th 1번 : 번호 / th.headNum
th 2번 : 카테고리 / th.headCateg
th 3번 : 이미지 / th.headPhoto
th 4번 : 제목 / th.headTxt
th 5번 : 작성자 / th.headWriter
th 6번 : 등록일 / th.headDate
th 7번 : 조회수 / th.headView
*/
.BBSlist thead th.headNum {width:70px;}
.BBSlist thead th.headCateg {width:90px;}
.BBSlist thead th.headPhoto {width:120px;}
.BBSlist thead th.headTxt {}
.BBSlist thead th.headDate {width:90px;}
.BBSlist thead th.headWriter {width:120px;}
.BBSlist thead th.headView {width:80px;}

.BBSlist.BBSphoto td {padding:20px 0 20px 10px;}

/* 한줄 게시판 */
.BBSline {}
.BBSline .write {padding:25px 30px 30px;background:url(../img/board/bg_BBSline_write.png) repeat;text-align:center;}
.BBSline .write .tit {display:inline-block;height:48px;margin:0 auto 20px;padding-left:63px;background:url(../img/board/ico_smile.png) no-repeat 0 0;color:#272727;font-family:'Noto Sans KR';font-size:25px;font-weight:400;line-height:48px;}
.BBSline .write textarea {height:120px;border:none;}
.BBSline .write fieldset {position:relative;padding:0 0 35px;border:1px solid #7d919d;background:#fff;}
.BBSline .write fieldset textarea {border-bottom:1px solid #eee;}
.BBSline .write fieldset .btn {display:block;position:absolute;right:-1px;bottom:-1px;font-size:0;text-align:right;}
.BBSline .write fieldset .btn>button {display:inline-block;height:37px;padding:0 20px;font-size:15px;line-height:37px;vertical-align:top;}
.BBSline .write fieldset .btn>.btn_blue {background:#364f60;color:#fff;}
.BBSline .write fieldset .btn>.btn_white {border:1px solid #c6c7c9;background:#fff;color:#272727;}
.BBSline .list {margin-top:40px;}
.BBSline .list li {position:relative;padding:15px 0;}
.BBSline .list li .txtInfo {overflow:hidden;margin-bottom:15px;font-size:0;}
.BBSline .list li .txtInfo>span {display:inline-block;line-height:18px;}
.BBSline .list li .txtInfo>span+span {margin-left:10px;}
.BBSline .list li .txtInfo .writer {color:#232323;font-size:16px;font-weight:400;}
.BBSline .list li .txtInfo .date {color:#888;font-size:14px;}
.BBSline .list li>p {position:relative;padding:20px;border:1px solid #ddd;background:#fafafa;}
.BBSline .list li>p::before {content:'';display:block;position:absolute;left:14px;top:-10px;width:18px;height:10px;background:url(../img/board/bg_BBSline_list.png) no-repeat 0 0;}
.BBSline .list li>.btn {position:absolute;right:0;top:15px;}

/*190726추가 시작*/
.job_option {}
.job_option .BBSlist_w {margin-bottom:45px;}
.job_option .BBSlist_w colgroup>col:nth-child(1) {width:150px;}
.job_option .BBSlist_w colgroup>col:nth-child(2) {width:350px;}
.job_option .BBSlist_w colgroup>col:nth-child(3) {width:150px;}
.job_option .BBSlist_w colgroup>col:nth-child(4) {}
.job_option .BBSlist_w colgroup>col:nth-child(5) {width:160px;}
.job_option .BBSlist_w .tbodyBtn {border-left:1px solid #e1e1e1;}
.job_option .BBSlist_w .btn_search {display:block;position:relative;width:140px;height:100px;background:#353541;color:#fff;font-size:18px;}
.job_option .BBSlist_w .btn_search::after {content:'';display:inline-block;width:20px;height:20px;margin-left:10px;background:url(../img/board/ico_magnify_white.png) no-repeat center;vertical-align:middle;}
.job_option .listNum {display:block;color:#272727;font-size:16px;line-height:40px;font-weight:400;}
.job_option .listNum b {margin-left:3px;color:#1a8500;/*font-size:16px;*/font-weight:400;}

/* 채용공고  고정항목 순서
th 1번 : 번호 / th.headNum
th 2번 : 카테고리 / th.headCateg
th 3번 : 제목 / th.headTxt
th 4번 : 마감일 / th.headDate
th 5번 : 마감상태 / th.headEtc
*/
.BBSlist.BBSjob thead th.headNum {width:70px;}
.BBSlist.BBSjob thead th.headCateg {width:90px;}
.BBSlist.BBSjob thead th.headTxt {}
.BBSlist.BBSjob thead th.headDate {width:90px;}
.BBSlist.BBSjob thead th.headEtc {width:80px;}

.BBSlist.BBSjob .etc .statusBox {display:inline-block;width:55px;height:25px;box-sizing:border-box;font-size:13px;font-weight:400;line-height:25px;text-align:center;}
.BBSlist.BBSjob .etc .statusBox.end {border:1px solid #c0c3ce;color:#666;}
.BBSlist.BBSjob .etc .statusBox.ingEnd {border:1px solid #f36700;color:#f36700;}
.BBSlist.BBSjob .etc .statusBox.ing {border:1px solid #1a8500;color:#1a8500;}
/*190726추가 끝*/

/* 쓰기 */
.list_guide {padding:10px 0;color:#666;font-size:15px;line-height:17px;text-align:right;}
.mark_need {display:inline-block;overflow:hidden;width:11px;height:15px;background:url(../img/board/ico_check_green.png) no-repeat 0 50%;}

.BBSlist_w {width:100%;}
.BBSlist_w tbody {border-top:2px solid #2b2b2b;}
.BBSlist_w th {/*width:25%;*/padding-left:28px;border-bottom:1px solid #e1e1e1;background:#f0f2f7;font-size:15px;color:#272727;font-weight:400;text-align:left;}
.BBSlist_w td {/*width:75%;*/height:36px;padding:9px 10px;border-bottom:1px solid #e1e1e1;line-height:36px;}
.BBSlist_w td label {cursor:pointer;}
.BBSlist_w td p {padding:4px 0;}
.BBSlist_w td .inp_c,
.BBSlist_w td .inp_r {vertical-align:middle;}
.BBSlist_w td .inp_t,
.BBSlist_w td .inp_s {vertical-align:top;}
.BBSlist_w tr.w_tit .inp_t,
.BBSlist_w tr.w_path .inp_t {width:100%;}
.BBSlist_w tr.w_name .inp_t,
.BBSlist_w tr.w_pw .inp_t,
.BBSlist_w tr.w_tel .inp_t {width:215px;}
.BBSlist_w tr.w_date .inp_t {width:80px;background:url(../img/board/ico_calendar.png) no-repeat right 5px top 50%;}
.BBSlist_w tr.w_email .inp_t {width:215px;}
.BBSlist_w tr.w_email .inp_s {width:150px;}
.BBSlist_w tr.w_sort .inp_s {width:215px;}
.BBSlist_w tr.w_url .inp_t {width:97.7%;}
.BBSlist_w .inp_area {font-size:14px;}
.BBSlist_w .fileArea .btn_rec_gray {display:inline-block;width:70px;height:40px;background:#c0c3ce;font-size:14px;font-weight:normal;line-height:40px;text-align:center;cursor:pointer;}
.BBSlist_w .fileArea .btn_rec_gray input {position:absolute;top:0;right:0;width:100%;height:100%;opacity:0;cursor:pointer}
.BBSlist_w .btn_fileAdd,
.BBSlist_w .btn_fileRe,
.BBSlist_w .btn_fileDel {overflow:hidden;width:40px;height:40px;border:1px solid #dcdcdc;text-indent:-100px;}
.BBSlist_w .btn_fileAdd {background:url(../img/board/ico_plus.png) no-repeat 50% 50%;}
.BBSlist_w .btn_fileRe {background:url(../img/board/ico_refresh.png) no-repeat 50% 50%;}
.BBSlist_w .btn_fileDel {background:url(../img/board/ico_x.png) no-repeat 50% 50%;}
.BBSlist_w tr.w_txt .inp_area {width:100%;height:150px;}
.BBSlist_w tr.w_movie .inp_t {width:97%;}
.BBSlist_w tr.w_link p {position:relative;padding-right:93px;}
.BBSlist_w tr.w_link .inp_t {width:97%;}
.BBSlist_w tr.w_link .btn_rec_gray {position:absolute;right:0;}
.BBSlist_w tr.w_addFile_s .fileArea>div {position:relative;padding:4px 69px 4px 0;font-size:0;}
.BBSlist_w tr.w_addFile_s .inp_t {width:100%;}
.BBSlist_w tr.w_addFile_s .btn_rec_gray {position:absolute;right:0;letter-spacing:-1px;cursor:pointer;}
/*.BBSlist_w tr.w_addFile_m .fileArea>div {position:relative;padding: 4px 193px 4px 0;font-size:0;}*//*새로고침 있을 시*/
.BBSlist_w tr.w_addFile_m .fileArea>div {position:relative;padding: 4px 153px 4px 0;font-size:0;}
.BBSlist_w tr.w_addFile_m .inp_t {width:100%;}
/*.BBSlist_w tr.w_addFile_m .btn_rec_gray {position:absolute;top:4px;right:124px;letter-spacing:-1px;cursor:pointer;}
.BBSlist_w tr.w_addFile_m .btn_fileAdd {position:absolute;top:4px;right:78px;}*//*새로고침 있을 시*/
.BBSlist_w tr.w_addFile_m .btn_rec_gray {position:absolute;top:4px;right:84px;letter-spacing:-1px;cursor:pointer;}
.BBSlist_w tr.w_addFile_m .btn_fileAdd {position:absolute;top:4px;right:39px;}
.BBSlist_w tr.w_addFile_m .btn_fileRe {position:absolute;top:4px;right:39px;}
.BBSlist_w tr.w_addFile_m .btn_fileDel {position:absolute;top:4px;right:0px;}
.BBSlist_w .reCaptcha {overflow:hidden;width:300px;box-sizing:border-box;padding:0 12px;border:1px solid #d3d3d3;border-radius:2px;background:#f9f9f9}
.BBSlist_w .reCaptcha .inp_c {float:left;margin-top:30px;}
.BBSlist_w .reCaptcha .mark {float:right;min-width:55px;margin:12px 0 5px;color:#666;font-size:11px;line-height:13px;text-align:right;}
.BBSlist_w .reCaptcha .mark>img {display:block;float:right;}
.BBSlist_w .reCaptcha .mark>span {clear:both;display:block;}
.ui-datepicker {margin-top:3px;}

.BBSlist_w colgroup>col:nth-child(1) {/*width:20%;*/width:160px;}
.BBSlist_w colgroup>col:nth-child(2) {}
.BBSlist_w colgroup>col:nth-child(3) {/*width:20%;*/width:160px;}
.BBSlist_w colgroup>col:nth-child(4) {}

#verEng .BBSlist_w colgroup>col:nth-child(1),
#verChn .BBSlist_w colgroup>col:nth-child(1),
#verVnm .BBSlist_w colgroup>col:nth-child(1) {width:170px;}

.agreeBox {overflow:hidden;margin-top:20px;padding:30px 30px 0;background:#f0f2f7;}
.agreeBox dl {padding-bottom:20px;}
.agreeBox dt {margin-bottom:10px;color:#272727;font-size:17px;font-weight:500;}
.agreeBox dd {margin-bottom:5px;padding-left:8px;background:url(../img/board/bul_rec_gray.png) no-repeat 0 10px;color:#555;font-size:16px;}
.agreeBox_check {margin-top:10px;}
.agreeBox_check label {font-size:16px;font-weight:400;}

/* 상세 */
.BBSlist_v {width:100%;border-top:2px solid #2b2b2b;border-bottom:1px solid #bbb;}
.BBSlist_v dt {overflow:hidden;padding:25px 30px;border-bottom:1px solid #ddd;color:#000;font-family:'Noto Sans KR';font-size:22px;font-weight:500;line-height:30px;}
.BBSlist_v dt .mark_categ {color:#000;font-family:'Noto Sans KR';font-size:22px;font-weight:500;line-height:30px;}
.BBSlist_v .txtInfo {margin:10px 0 0;font-size:0;}
/* 190312 수정 */
.BBSlist_v .txtInfo span {display:inline-block;margin:5px 15px 0 0;padding:0 15px 0 0;/*background:url(../img/board/vline_t_info.png) no-repeat right 0 top 3px;*/color:#555;font-size:16px;line-height:17px;border-right:1px solid #d4d5d6}
.BBSlist_v .txtInfo span:last-child {margin:5px 0 0;padding:0;border-right:none;}
/* 190312 수정끝 */
.BBSlist_v .txtInfo span::before {display:inline-block;margin-right:5px;color:#272727;font-size:16px;line-height:17px;}
/* 190305 주석처리
.BBSlist_v .txtInfo .writer::before {content:'작성자';}
.BBSlist_v .txtInfo .date::before {content:'등록일';}
.BBSlist_v .txtInfo .view::before {content:'조회수';}
*/
.BBSlist_v dd {overflow:hidden;padding:30px 25px 40px;}
.BBSlist_v dd .view_txt {color:#444;font-size:16px;line-height:27px;}
.BBSlist_v dd .view_txt td {border:1px solid #d2d2d2;}
.BBSlist_v dd .view_txt img {margin:10px auto}
.BBSlist_v dd .view_pdf {overflow:hidden;padding:30px 0 50px;}
.BBSlist_v dd pre {white-space:pre-wrap;}

.BBSlist_v .fileArea {overflow:hidden;margin:35px 0 0;padding:15px 30px;background:#f0f2f7;}
.BBSlist_v .fileArea p {padding:0 0 0 25px;background:url(../img/board/ico_doc.png) no-repeat 0 3px;}
.BBSlist_v .fileArea p+p {margin:10px 0 0;}
.BBSlist_v .fileArea p a {display:inline;overflow:hidden;text-overflow:ellipsis;max-width:calc(100% - 25px);color:#555;font-size:15px;line-height:20px;vertical-align:middle;}
.BBSlist_v .fileArea p a:hover {text-decoration:underline;}
.BBSlist_v .fileArea p .btn_preview {display:inline-block;width:75px;height:20px;margin:0 0 0 5px;padding:0 0 0 20px;background:url(../img/board/ico_magnifyPlus.png) no-repeat 0 50%;color:#555;font-size:13px;line-height:13px;vertical-align:middle;}

.shareArea {position:relative;width:100%;margin-bottom:40px;}
.shareArea .btn_like {border:1px solid #e1e3e4;background:#fff !important;}
.shareArea .btn_like>span {padding-left:24px !important;background:url(../img/board/ico_heart_red.png) no-repeat 0 50%;color:#272727 !important;}
.shareArea .btn_share {border:1px solid #e1e3e4;background:#fff !important;}
.shareArea .btn_share>span {padding-left:20px!important;background:url(../img/board/ico_share_blue.png) no-repeat 0 50% !important;color:#272727 !important;}
.shareArea .btn_share:hover,
.shareArea .btn_share.on {border:1px solid #364f60 !important;background:#364f60 !important;}
.shareArea .btn_share:hover>span,
.shareArea .btn_share.on>span {background:url(../img/board/ico_share_white.png) no-repeat 0 50% !important;color:#fff !important;}
.shareArea .shareBox {display:none;position:absolute;left:50%;top:80px;overflow:hidden;width:314px;margin-left:-5px;box-sizing:border-box;padding:20px 25px 5px 0;border:1px solid #7d919d;background:#fff;z-index:5001;}
.shareArea .shareBox ul {overflow:hidden;}
.shareArea .shareBox ul li {float:left;width:calc(50% - 25px);height:25px;min-height:auto !important;margin:0 0 15px;padding:0 0 0 25px;border-bottom:0 !important;}
.shareArea .shareBox ul li>a {display:block;height:25px;padding:0 0 0 30px;color:#272727;font-size:14px;background-repeat:no-repeat;background-position:0 0;text-align:left;}
.shareArea .shareBox .sns_facebook {background-image:url(../img/board/sns_facebook.png) !important;}
.shareArea .shareBox .sns_band {background-image:url(../img/board/sns_band.png) !important;}
.shareArea .shareBox .sns_twitter {background-image:url(../img/board/sns_twitter.png) !important;}
.shareArea .shareBox .sns_blog {background-image:url(../img/board/sns_blog.png) !important;}
.shareArea .shareBox .sns_googlePlus {background-image:url(../img/board/sns_googlePlus.png) !important;}
.shareArea .shareBox .sns_tumblr {background-image:url(../img/board/sns_tumblr.png) !important;}
.shareArea .shareBox .sns_kakaoStory {background-image:url(../img/board/sns_kakaoStory.png) !important;}
.shareArea .shareBox .sns_pinterest {background-image:url(../img/board/sns_pinterest.png) !important;}

.replyArea {padding-top:25px;}
.replyArea .tit {display:block;border-bottom:1px solid #e6e6e6;}
.replyArea .tit .num {display:inline-block;color:#1a8500;font-size:17px;font-weight:400;}
.replyArea h1 {display:inline-block;padding:10px 0;font-size:17px;color:#272727;font-weight:400;}
.replyArea textarea {/*width:calc(100% - 20px);*/height:130px;padding:10px;border:none;resize:none;}
.replyArea fieldset {position:relative;padding:0 0 35px;border:1px solid #7d919d;}
.replyArea fieldset .inp_area {border:none;border-bottom:1px solid #eee;}
.replyArea fieldset .btn {display:block;position:absolute;right:-1px;bottom:-1px;font-size:0;text-align:right;}
.replyArea fieldset .btn>button {display:inline-block;height:37px;padding:0 20px;font-size:15px;line-height:37px;vertical-align:top;}
.replyArea fieldset .btn>.btn_txtWrite {background:#353541;color:#fff;}
.replyArea fieldset .btn>.btn_txtCancel {border:1px solid #c6c7c9;background:#fff;color:#272727;}
.replyArea .list {border-bottom:1px solid #e6e6e6;}
.replyArea .list li {position:relative;padding:25px 20px 20px;}
.replyArea .list li+li {border-top:1px solid #e6e6e6;}
.replyArea .list li .txtInfo {overflow:hidden;margin-bottom:15px;font-size:0;}
.replyArea .list li .txtInfo>span {display:inline-block;line-height:18px;}
.replyArea .list li .txtInfo>span+span {margin-left:10px;}
.replyArea .list li .txtInfo .writer {color:#232323;font-size:16px;font-weight:400;}
.replyArea .list li .txtInfo .date {color:#888;font-size:14px;}
.replyArea .list li>pre {white-space:pre-wrap;}
.replyArea .list li>p {font-size:15px;color:#555;line-height:23px;}
.replyArea .list li>.btn {margin-top:10px;}
.replyArea .list li>fieldset {border:1px solid #c6c7c9;}

#verEng .replyArea .list li .txtInfo>span,
#verChn .replyArea .list li .txtInfo>span,
#verVnm .replyArea .list li .txtInfo>span {line-height:20px;}

.prevNnext {overflow:hidden;margin-top:35px;border-top:1px solid #dddfe5;}
.prevNnext li {overflow:hidden;padding:20px;border-bottom:1px solid #dddfe5;}
.prevNnext li>strong {display:block;float:left;overflow:hidden;width:73px;padding-left:27px;color:#272727;font-size:16px;font-weight:normal;line-height:18px;white-space:nowrap;}
.prevNnext li.prev>strong {background:url(../img/board/ico_arrT_s_black.png) no-repeat 0 50%;}
.prevNnext li.next>strong {background:url(../img/board/ico_arrB_s_black.png) no-repeat 0 50%;}
.prevNnext li>p {display:block;float:left;overflow:hidden;width:calc(100% - 100px) !important;padding:0 !important;background:none !important;font-size:16px;line-height:18px;}
.prevNnext li>.no_article {color:#666;text-align:left;}
.prevNnext li>.article>.mark_categ {display:block;float:left;margin-right:5px;color:#555;font-size:16px;line-height:18px;}
.prevNnext li>.article>a {display:block;float:left;overflow:hidden;text-overflow:ellipsis;width:calc(100% - 60px);color:#555;font-size:16px;line-height:18px;text-align:left;white-space:nowrap;}

#verEng .prevNnext li>.article>a,
#verChn .prevNnext li>.article>a,
#verVnm .prevNnext li>.article>a {width:calc(100% - 70px)}

/* 상세(Q&A) */
.replyArea.typeQna .list li {padding:25px 0 20px;}
.replyArea.typeQna .BBSlist_w th {padding-left:0;text-align:center;}

.commentArea.typeQna {padding-top:25px;}
.commentArea.typeQna .tit {padding:0 30px;border:1px solid #ddd;background:#fafafa;}
.commentArea.typeQna .tit .num {display:inline-block;color:#b41b46;font-size:17px;font-weight:400;}
.commentArea.typeQna h1 {display:inline-block;padding:10px 0;font-size:17px;color:#272727;font-weight:400;}
.commentArea.typeQna .list {padding:0 30px;border:1px solid #ddd;border-top:none;}
.commentArea.typeQna .list li {padding:25px 0;border-bottom:0;}
.commentArea.typeQna .list li+li {border-top:1px solid #e6e6e6;}
.commentArea.typeQna .list .txtInfo {position:relative;overflow:hidden;height:33px;margin-bottom:0;}
.commentArea.typeQna .list li .txtInfo>span {display:inline-block;line-height:18px;}
.commentArea.typeQna .list li .txtInfo>span+span {margin-left:10px;}
.commentArea.typeQna .list li .txtInfo .writer {color:#232323;font-size:16px;font-weight:400;}
.commentArea.typeQna .list li .txtInfo .date {color:#888;font-size:14px;}
.commentArea.typeQna .list .txtInfo .btn {position:absolute;right:0;top:0;}
.commentArea.typeQna .list .txt_v {overflow:hidden;padding:0;}
.commentArea.typeQna .list .txt_v .view_txt {color:#444;font-size:16px;line-height:27px;}
.commentArea.typeQna .list .txt_v .view_txt td {border:1px solid #d2d2d2;}
.commentArea.typeQna .list .txt_v .view_txt img {margin:10px auto}
.commentArea.typeQna .list .txt_v pre {white-space:pre-wrap;}
.commentArea.typeQna .list .txt_v .fileArea {overflow:hidden;margin:25px 0 0;padding:20px 0 0;border-top:1px solid #e6e6e6;}
.commentArea.typeQna .list .txt_v .fileArea p {padding:0 0 0 25px;background:url(../img/board/ico_doc.png) no-repeat 0 3px;}
.commentArea.typeQna .list .txt_v .fileArea p+p {margin:10px 0 0;}
.commentArea.typeQna .list .txt_v .fileArea p a {display:inline;overflow:hidden;text-overflow:ellipsis;max-width:calc(100% - 25px);color:#555;font-size:15px;line-height:20px;vertical-align:middle;}
.commentArea.typeQna .list .txt_v .fileArea p a:hover {text-decoration:underline;}
.commentArea.typeQna .list .txt_v .fileArea p .btn_preview {display:inline-block;width:75px;height:20px;margin:0 0 0 5px;padding:0 0 0 20px;background:url(../img/board/ico_magnifyPlus.png) no-repeat 0 50%;color:#555;font-size:13px;line-height:13px;vertical-align:middle;}
.commentArea.typeQna .list .BBSlist_w {width:100%;margin:25px 0 0;}
.commentArea.typeQna .BBSlist_w {margin:20px 0 0;}
.commentArea.typeQna .BBSlist_w th {text-align:left;}

/* 상세(사진,동영상) */
.BBSlist_v.BBSgallery dd {padding:25px 0;}
.BBSlist_v.BBSgallery .view_movie {overflow:hidden;width:100%;margin:0 auto 40px;}
/* 190312 수정 */
.BBSlist_v.BBSgallery .view_movie .movie_info {overflow:hidden;padding:25px 215px 25px 30px;border:1px solid #ddd;background:#fff url(../img/board/mark_univName.png) no-repeat right 30px top 50%;font-size:0;text-align:left;}
.BBSlist_v.BBSgallery .view_movie .movie_info>span {display:inline-block;position:relative;margin-right:35px;padding-left:30px;color:#272727;font-size:19px;line-height:20px;font-weight:400;}
.BBSlist_v.BBSgallery .view_movie .movie_info>span:last-child {margin-right:0;}
.BBSlist_v.BBSgallery .view_movie .movie_info>span::before {content:'';display:block;position:absolute;left:0;top:0;width:30px;height:20px;color:#272727;font-size:15px;line-height:20px;}
.BBSlist_v.BBSgallery .view_movie .movie_info .teacher::before {content:'';background:url(../img/board/ico_human_green.png) no-repeat 0 50%;}
.BBSlist_v.BBSgallery .view_movie .movie_info .time::before {content:'';background:url(../img/board/ico_clock_green.png) no-repeat 0 50%;}
/* 190312 수정끝 */
.BBSlist_v.BBSgallery .view_movie .movie {width:100%;}
.BBSlist_v.BBSgallery .view_movie .movie a>img {width:100%;}
.BBSlist_v.BBSgallery .view_movie .movie a.btn_play {display:block;position:relative;background:#000;font-size:0;}
.BBSlist_v.BBSgallery .view_movie .movie a.btn_play::before {content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:url(../img/board/bg_playBg.png) repeat;}
.BBSlist_v.BBSgallery .view_movie .movie a.btn_play::after {content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:url(../img/board/ico_cirPlay_b.png) no-repeat 50% 50%;}
.BBSlist_v.BBSgallery .view_movie .movie_caption {overflow:hidden;height:110px;margin-top:20px;padding:30px 10px 30px 30px;background:#f0f2f7;}
.BBSlist_v.BBSgallery .view_movie .movie_caption .txt {overflow-x:hidden;overflow-y:auto;height:110px;color:#555;font-size:16px;line-height:26px;}
.BBSlist_v.BBSgallery .view_movie .movie_caption .mCSB_container {color:#555;font-size:16px;line-height:26px;}
.BBSlist_v.BBSgallery .view_movie .movie_caption .mCSB_scrollTools .mCSB_draggerRail {background:none;}
.BBSlist_v.BBSgallery .view_movie .movie_caption .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background:#c6c6c6;}

/* 상세(공고) */
.BBSlist_v.BBSnoti .view_noti {overflow:hidden;width:100%;max-width:765px;margin:0 auto 40px;}
.BBSlist_v.BBSnoti .view_noti .noti_info {display:table;width:100%;height:70px;background:url(../img/board/bg_BBSline_write.png) repeat-x;}
.BBSlist_v.BBSnoti .view_noti .noti_info p {display:table-cell;overflow:hidden;min-height:22px;padding:0 215px 0 30px;border:1px solid #ddd;background:url(../img/board/mark_sjcu.png) no-repeat right 30px top 51%;font-family:'Noto Sans KR';font-size:21px;line-height:22px;text-align:left;vertical-align:middle;}
.BBSlist_v.BBSnoti .view_noti .noti_info p>b {font-weight:500;}
.BBSlist_v.BBSnoti .view_noti .noti {width:100%;max-width:765px;min-height:340px;margin-top:-1px;box-sizing:border-box;padding:0 30px;border:1px solid #ddd;background:url(../img/board/bg_univWatermark.png) no-repeat 50% 40px;text-align:center;}
.BBSlist_v.BBSnoti .view_noti .noti .txt {padding:60px 0 40px;color:#272727;font-family:'Noto Sans KR';font-size:18px;line-height:24px;}
.BBSlist_v.BBSnoti .view_noti .noti .txt>b {display:block;margin:0 auto 20px;color:#000;font-size:34px;font-weight:400;line-height:38px;}
.BBSlist_v.BBSnoti .view_noti .noti .reg {padding:40px 0 60px;border-top:1px solid #e6e6e6;}
.BBSlist_v.BBSnoti .fileArea .manager {display:block;margin-bottom:10px;color:#272727;font-size:16px;letter-spacing:-1px;}
.BBSlist_v.BBSnoti .fileArea .manager>b {display:inline-block;margin-right:5px;font-weight:500;}

/* 상세(입학상담) */
.BBSipsi_v.infoBox {position:relative;margin-bottom:30px;box-sizing:border-box;padding:25px 250px 25px 30px;border:1px solid #e1e1e1;}
.BBSipsi_v.infoBox .btn_link {display:inline-block;position:absolute;right:30px;top:50%;margin-top:-18px;box-sizing:border-box;padding:0 20px;border-radius:2px;background:#7d909e;}
.BBSipsi_v.infoBox .btn_link>span {display:block;padding:10px 0;color:#fff;font-size:14px;font-weight:400;line-height:16px;}

.BBSlist_v.BBSipsi_v {border-bottom:1px solid #e0e1e3;}
.BBSlist_v.BBSipsi_v dd {position:relative;overflow:hidden;box-sizing:border-box;padding:30px 20px 30px 85px;}
.BBSlist_v.BBSipsi_v dd>p {color:#555;font-size:15px;line-height:25px;}
.BBSlist_v.BBSipsi_v .faq_q,
.BBSlist_v.BBSipsi_v .faq_a {display:block;position:absolute;left:0;top:30px;overflow:hidden;height:26px;box-sizing:border-box;padding-left:85px;font-size:16px;font-weight:400;line-height:26px;}
.BBSlist_v.BBSipsi_v .faq_q {background:url(../img/board/ico_faqQ.png) no-repeat 30px 50%;color:#272727;}
.BBSlist_v.BBSipsi_v .faq_a {background:url(../img/board/ico_faqA.png) no-repeat 30px 50%;color:#b51c48;}
.BBSlist_v.BBSipsi_v .replyArea .list {border-bottom:none;}
.BBSlist_v.BBSipsi_v .replyArea .list li {padding:0;}
.BBSlist_v.BBSipsi_v .replyArea .list .txtInfo span {margin-right:0;padding-right:0;background:none;}
.BBSlist_v.BBSipsi_v .replyArea .list .txtInfo span::before {display:none;}
.BBSlist_v.BBSipsi_v .reQ {margin-bottom:-1px;box-sizing:border-box;padding:30px 20px 90px 85px;border:1px solid #e0e1e3;}
.BBSlist_v.BBSipsi_v .reQ .pwBox {position:absolute;left:0;bottom:0;width:100%;min-height:60px;box-sizing:border-box;padding:9px 10px 9px 150px;border-top:1px solid #e0e1e3;text-align:left;}
.BBSlist_v.BBSipsi_v .reQ .pwBox>strong {display:block;position:absolute;left:0;bottom:0;width:150px;height:100%;box-sizing:border-box;padding-top:20px;background:#f4f5f9;font-size:16px;font-weight:400;line-height:18px;text-align:center;}
.BBSlist_v.BBSipsi_v .reQ .pwBox>input {display:inline-block;width:270px;margin-left:15px;}
.BBSlist_v.BBSipsi_v .reQ .pwBox>p {display:inline-block;margin:5px 0 0 15px;}

/* 입찰공고 */
.BBSlist.BBStender .ing {color:#f36700;}

.BBSlist_v.BBStender .status .ing {color:#f36700;}
/* 190312 주석처리
.BBSlist_v.BBStender .status::before {content:'진행상태';}
.BBSlist_v.BBStender .date1::before {content:'현장설명';}
.BBSlist_v.BBStender .date2::before {content:'등록마감';}
.BBSlist_v.BBStender .date3::before {content:'입찰일시';}
*/

/* 190723 추가 */
.notice_box {padding:25px 30px 25px 75px;margin:0 0 30px;background:#eef3fa url(../type/AFFI_A/img/ico_notice.png) no-repeat left 25px top 25px;}
.notice_box .notice_txt {color:#272727;font-family:'Noto Sans KR';font-size:15px;font-weight:400;line-height:1.7em;letter-spacing:-1px;word-break:keep-all;}
/* 190723 추가 끝 */

/*190726수정 시작*/
.BBSlist_v.BBSjob dt {position:relative;padding-right:160px;}
.BBSlist_v.BBSjob dt .mark_corp {display:block;margin-bottom:15px;color:#1a8500;font-size:18px;font-weight:400;line-height:22px;}
.BBSlist_v.BBSjob dt .statusBox {position:absolute;right:30px;top:25px;width:100px;height:70px;box-sizing:border-box;padding-top:13px;background:#4d9d3a;color:#fff;font-family:'Roboto';font-size:26px;font-weight:400;line-height:28px;text-align:center;}
.BBSlist_v.BBSjob dt .statusBox>em {display:block;margin-bottom:3px;color:#fff;font-style:normal;font-family:'Roboto';font-size:14px;font-weight:300;line-height:16px;text-align:center;}
.BBSlist_v.BBSjob dd .job_info {margin:0 -25px 30px;padding:0 25px 20px;border-bottom:1px solid #dddfe5;}
.BBSlist_v.BBSjob dd .job_info li {display:inline-table;position:relative;width:31%;margin-right:2%;margin-bottom:10px;box-sizing:border-box;padding-left:80px;color:#000;font-size:16px;font-weight:300;line-height:20px;}
.BBSlist_v.BBSjob dd .job_info li>strong {display:block;position:absolute;left:0;top:0;overflow:hidden;width:70px;font-weight:500;}
/*190726수정 끝*/

@media all and (max-width:1200px){
    /* 공통 */
}

@media all and (max-width:1041px){
    /* 공통 */
    .ico_new {background:url(../img/board/m/ico_cirNew.png) no-repeat center;background-size:18px 18px;}
    .ico_lock {background:url(../img/board/m/ico_lock.png) no-repeat center;background-size:17px 20px;}
    /* 검색 */

    /* 리스트 */
    /*190726추가 시작*/
    .job_option .BBSlist_w colgroup>col:nth-child(1) {width:100px;}
    .job_option .BBSlist_w colgroup>col:nth-child(2) {width:300px;}
    .job_option .BBSlist_w colgroup>col:nth-child(3) {width:100px;}
    .job_option .BBSlist_w colgroup>col:nth-child(4) {}
    .job_option .BBSlist_w colgroup>col:nth-child(5) {width:100px;}
    .job_option .BBSlist_w .btn_search {width:90px;}
    .job_option .BBSlist_w .btn_search::after {margin-left:5px;}
    /*190726추가 끝*/

    /* 쓰기 */
    /*.BBSlist_w th {padding-left:10px;}*/
    .BBSlist_w tr.w_email .inp_s {width:26%;}
    .BBSlist_w .fileArea .inp_t {width:67%;}

    /* 상세 */
    .BBSlist_v .fileArea li a {max-width:88%;}

    /* 팝업 */
}

@media all and (max-width:960px){
    /* 사진,동영상 게시판 */
    .BBSgallery.BBSthumb li {width:33.33%;}
}

@media all and (max-width:850px){
    .BBSlist_v.BBSjob dd .job_info li {width:47%;}
}

@media all and (max-width:800px){
    #verEng .BBS_option.sel03 {height:125px;padding:0;}
    #verEng .BBS_option.sel03 .listNum {float:none;position:absolute;left:5px;bottom:5px;width:auto;}
    #verEng .BBS_option.sel03 .searchBox {overflow:visible;width:100%;}
    #verEng .BBS_option.sel03 .searchBox .inp_s {width:calc(50% - 5px);margin-bottom:5px;}
    #verEng .BBS_option.sel03 .searchBox .inp_s:nth-child(4) {float:left;width:auto;}
    #verEng .BBS_option.sel03 .searchBox .search {width:calc(100% - 131px);max-width:none;}
    #verEng .BBS_option.sel03 .searchBox .btn_rss {position:absolute;right:0;top:80px;}

    #verChn .BBS_option.sel03 {height:125px;padding:0;}
    #verChn .BBS_option.sel03 .listNum {float:none;position:absolute;left:5px;bottom:5px;width:auto;}
    #verChn .BBS_option.sel03 .searchBox {overflow:visible;width:100%;}
    #verChn .BBS_option.sel03 .searchBox .inp_s {width:calc(50% - 5px);margin-bottom:5px;}
    #verChn .BBS_option.sel03 .searchBox .inp_s:nth-child(4) {float:left;width:auto;}
    #verChn .BBS_option.sel03 .searchBox .search {width:calc(100% - 131px);max-width:none;}
    #verChn .BBS_option.sel03 .searchBox .btn_rss {position:absolute;right:0;top:80px;}

    #verVnm .BBS_option.sel03 {height:125px;padding:0;}
    #verVnm .BBS_option.sel03 .listNum {float:none;position:absolute;left:5px;bottom:5px;width:auto;}
    #verVnm .BBS_option.sel03 .searchBox {overflow:visible;width:100%;}
    #verVnm .BBS_option.sel03 .searchBox .inp_s {width:calc(50% - 5px);margin-bottom:5px;}
    #verVnm .BBS_option.sel03 .searchBox .inp_s:nth-child(4) {float:left;width:auto;}
    #verVnm .BBS_option.sel03 .searchBox .search {width:calc(100% - 131px);max-width:none;}
    #verVnm .BBS_option.sel03 .searchBox .btn_rss {position:absolute;right:0;top:80px;}
}

@media all and (max-width:768px){
    /* 공통 */
    .no_article {font-size:18px;}

    .pagination .paging {width:200px;}

    /* 리스트 */
    /* 기본 게시판 고정항목 순서
    th 1번 : 번호 / th.headNum
    th 2번 : 카테고리 / th.headCateg
    th 3번 : 제목 / th.headTxt
    th 4번 : (첨부)파일 / th.headFile
    th 5번 : 등록일 / th.headDate
    th 6번 : 작성자 / th.headWriter
    th 7번 : 조회수 / th.headView
    */
    table [data-cell-header]:before {content: attr(data-cell-header);display:inline-block;padding:0 4px 0 0;font-size:16px;line-height:20px;}
    table .typeFile [data-cell-header]:before {padding:0 4px 0 12px;background:url(../img/board/vline_t_info.png) no-repeat left 4px;}
    .BBSlist colgroup,
    .BBSlist thead,
    .BBSlist td.tbodyFile,
    .BBSlist td.tbodyView,
    .BBSlist tr.reply td.tbodyNum,
    table [data-cell-header]:before,
    table .typeFile [data-cell-header]:before {display:none !important;}
    .BBSlist tr {display:block;padding:8px 0;border-bottom:1px solid #e1e1e1;font-size:0}
    .BBSlist td {height:auto;line-height:1.2em;display:inline-block;padding:0 5px 3px 10px;border:0;text-align:left;font-size:13px;color:#666;}
    .BBSlist tr td:first-child {padding:0;}
    .BBSlist tr td:first-child>span {display:none;}
    .BBSlist .mark_categ {display:inline-block;height:18px;padding:2px 8px 4px 6px;background:#4caf35;color:#fff;font-size:13px;line-height:18px;}
    .BBSlist .txtL {display:block;}
    .BBSlist .txtL a {overflow:hidden;text-overflow:ellipsis;max-width:100%;height:30px;line-height:30px;font-size:16px;white-space:nowrap;}
    .BBSlist tr.typeNoti {position:relative;}
    .BBSlist tr.typeNoti td.tbodyNum {height:auto;margin-left:10px;padding:0;line-height:normal;vertical-align:top;}
    .BBSlist tr.typeNoti td.tbodyNum>span {display:block;}
    .BBSlist tr.typeNoti .mark_categ {display:inline-block;height:18px;padding:2px 8px 4px 6px;background:#4caf35;color:#fff;line-height:18px;}
    .BBSlist tr.typeNoti .txtL {padding:0 5px 3px 10px;}
    .BBSlist .typeAns .txtL a {max-width:calc(100% - 25px);}
    .BBSlist .typeIco.typeAns .txtL a {max-width:calc(100% - 75px);}
    .BBSlist tr.typeFile td.tbodyFile {display:inline-block;}
    .BBSlist .typeNoArticle {display:block !important;}

    #verEng .BBSlist .writer,
    #verChn .BBSlist .writer,
    #verVnm .BBSlist .writer {font-size:15px;}

    .BBSlist.BBSphoto tr {position:relative;min-height:72px;padding:20px 10px 20px 125px !important;}
    .BBSlist.BBSphoto td {padding:0 5px 3px 10px;}
    .BBSlist.BBSphoto td:nth-child(2) {padding:0;}
    .BBSlist.BBSphoto .photo {position:absolute;left:0;top:20px;}
    .BBSlist.BBSphoto .txtL {display:block;min-height:22px;padding-left:0 !important;}
    .BBSlist.BBSphoto [data-cell-header] {margin-left:-10px;}
    .BBSlist.BBSphoto [data-cell-header]:before {display:none !important;}

    .BBSlist.BBSphoto tr.typeNoti td:first-child {position:relative;left:auto;top:27px;}
    /*.BBSlist.BBSphoto tr.typeNoti td:nth-child(2) {margin-left:-44px;}*/
    .BBSlist.BBSphoto tr.typeNoti .txtL {display:block;/*padding-left:55px !important;*/}

    .BBSfaq dt {padding:19px 40px 11px 40px;background-size:18px auto;}
    .BBSfaq dt.on {background-size:18px auto;}
    .BBSfaq dt .txtL>.mark_categ,
    .BBSfaq dt .txtL>p {font-size:16px;line-height:22px;}
    .BBSfaq dd {padding:0 40px;}
    .BBSfaq dd.on {padding:11px 40px 19px;}
    .BBSfaq .faq_q,
    .BBSfaq .faq_a {left:10px;background-size:14px auto;}

    .BBSlist.BBStender td.tbodyView {display:block !important;}
    .BBSlist.BBStender .date1::before {content:'현장설명';margin-right:10px;}
    .BBSlist.BBStender .date2::before {content:'등록마감';margin-right:10px;}
    .BBSlist.BBStender .date3::before {content:'입찰일시';margin-right:10px;}

    /*190726추가 시작*/
    .job_option .BBSlist_w {position:relative;margin-bottom:75px;}
    .job_option .BBSlist_w .tbodyCateg {padding-bottom:10px;border-bottom:1px solid #e1e1e1;}
    .job_option .BBSlist_w .tbodyCateg+th {margin-top:10px;}
    .job_option .BBSlist_w .tbodyBtn {position:absolute;left:0;bottom:-55px;}
    .job_option .BBSlist_w .tbodyBtn .btn_search {display:block;width:100%;height:auto;padding:15px;font-size:14px;line-height:14px;}
    .job_option .BBSlist_w .tbodyBtn .btn_search:after {width:14px;height:14px;margin:-2px 0 0 10px;background-size:auto 14px;}

    .BBSlist.BBSjob .etc .statusBox {position:relative;width:auto;height:auto;padding-left:13px;border:none !important;font-size:15px;line-height:20px;text-align:left;}
    .BBSlist.BBSjob .etc .statusBox::before {content:'';display:block;position:absolute;left:0;top:5px;width:1px;height:12px;background:#e1e1e1;}
    /*190726추가 끝*/

    /* 쓰기 */
    .BBSlist_w {border-top:1px solid #2b2b2b}
    .BBSlist_w colgroup {display:none}
    .BBSlist_w tr,
    .BBSlist_w th {display:block;height:auto;width:100%;box-sizing:border-box;border:0;padding:0;font-weight:500;}
    .BBSlist_w td {display:block;height:auto;width:100%;box-sizing:border-box;border:0;padding:0;}
    .BBSlist_w tr {padding:10px 10px;border-bottom:1px solid #dadada}
    .BBSlist_w th {padding-bottom:3px;background:none}
    .BBSlist_w td+th {margin-top:15px}
    .BBSlist_w td p {margin-top:5px}
    .BBSlist_w tr.w_name .inp_t,
    .BBSlist_w tr.w_pw .inp_t,
    .BBSlist_w tr.w_tel .inp_t {width:100%;}
    .BBSlist_w tr.w_email td {text-align:center;}
    .BBSlist_w tr.w_email .inp_t:nth-child(1) {float:left;width:46%;}
    .BBSlist_w tr.w_email .inp_t:nth-child(2) {float:right;width:46%;}
    .BBSlist_w tr.w_email .inp_s {width:100%;margin-top:5px;}
    .BBSlist_w tr.w_link p {padding-right:99px;}
    .BBSlist_w tr.w_addFile_s p {padding-right:98px;}
    .BBSlist_w tr.w_addFile_m p {position:relative;padding-right:180px;}

    .agreeBox {padding:20px 20px 0;}

    /* 상세 */
    .BBSlist_v dt {padding:25px 10px;font-size:20px;line-height:28px;}
    .BBSlist_v dt .mark_categ {font-size:20px;line-height:28px;}
    .BBSlist_v .txtInfo span,
    .BBSlist_v .txtInfo span::before {font-size:15px;}
    .BBSlist_v dd {padding:25px 0;}
    .BBSlist_v dd .view_pdf {padding:0;}

    .BBSlist_v.BBSgallery .view_movie .movie_info {padding:15px 15px 10px;background:none;}
    .BBSlist_v.BBSgallery .view_movie .movie_info>span {margin-right:15px;margin-bottom:5px;}
    .BBSlist_v.BBSgallery .view_movie .movie a.btn_play::after {background-size:44px 44px;}
    .BBSlist_v.BBSgallery .view_movie .movie_caption {padding:15px 5px 15px 15px;}

    .BBSlist_v.BBSnoti .view_noti .noti_info>p {padding:50px 15px 15px;background-position:right 15px top 20px !important;}

    .shareArea .shareBox {margin-left:-157px;}

    .replyArea .list li {padding:25px 0 20px;}

    .commentArea.typeQna .BBSlist_w th {padding-left:0;}

    .prevNnext li {padding:20px 10px !important;}
    .prevNnext li>strong {width:52px !important;}

    /* 상세(입학상담) */
    .BBSipsi_v.infoBox {padding:25px 30px 20px;}
    .BBSipsi_v.infoBox .btn_link {display:inline-block;position:relative;right:auto;top:auto;margin-top:15px;box-sizing:border-box;padding:0 20px;border-radius:2px;background:#7d909e;}
    .BBSlist_v.BBSipsi_v .reQ {padding-bottom:110px;}

    .BBSlist_v.BBSjob dt {padding:60px 10px 25px;}
    .BBSlist_v.BBSjob dt .mark_corp {margin-bottom:5px;}
    .BBSlist_v.BBSjob dt .statusBox {right:auto;left:10px;top:20px;width:auto;height:auto;padding:2px 10px 0;font-size:16px;}
    .BBSlist_v.BBSjob dt .statusBox>em {display:inline-block;font-size:12px;}
    .BBSlist_v.BBSjob dd .job_info li {font-size:14px;}
}

@media all and (max-width:700px){
    /* 검색 */
    /*.BBS_option.sel03 {height:80px;padding:0;}
    .BBS_option.sel03 .listNum {float:none;position:absolute;left:5px;bottom:5px;width:auto;}
    .BBS_option.sel03 .searchBox {overflow:visible;}
    .BBS_option.sel03 .searchBox .inp_s {margin-bottom:5px;}
    .BBS_option.sel03 .btn_rss {position:absolute;right:0;top:40px;}*/
    .BBS_option.sel03 {height:125px;padding:0;}
    .BBS_option.sel03 .listNum {float:none;position:absolute;left:5px;bottom:5px;width:auto;}
    .BBS_option.sel03 .searchBox {overflow:visible;width:100%;}
    .BBS_option.sel03 .searchBox .inp_s {width:calc(50% - 5px);margin-bottom:5px;}
    .BBS_option.sel03 .searchBox .inp_s:nth-child(4) {float:left;width:auto;}
    .BBS_option.sel03 .searchBox .search {width:calc(100% - 119px);max-width:none;}
    .BBS_option.sel03 .searchBox .btn_rss {position:absolute;right:0;top:80px;}
}

@media all and (max-width:690px){
    /* 공통 */
    /*.pagination .paging {width:256px;}*/

    /* 사진,동영상 게시판 */
    .BBSgallery.BBSthumb li {width:50%;}
}

@media all and (max-width:660px){
    #verEng .BBS_option {height:80px;padding:0;}
    #verEng .BBS_option .listNum {float:none;position:absolute;left:5px;bottom:5px;width:auto;}
    #verEng .BBS_option .searchBox {float:none;width:100%;text-align:left;}
    #verEng .BBS_option .searchBox .search {width:calc(100% - 135px);max-width:none;}
    /*#verEng .BBS_option.sel02 .searchBox .search {width:calc(100% - 265px);max-width:none;}*/
    #verEng .BBS_option.sel02 {height:125px;}
    #verEng .BBS_option.sel02 .searchBox {margin-bottom:25px;}
    #verEng .BBS_option.sel02 .searchBox .inp_s {width:calc(50% - 5px);margin-bottom:5px;}
    #verEng .BBS_option.sel02 .searchBox .inp_s:nth-child(4) {float:left;width:auto;}
    #verEng .BBS_option.sel02 .searchBox .search {width:calc(100% - 5px);max-width:none;}
    #verEng .BBS_option.sel02 .searchBox .btn_rss {position:absolute;right:0;top:80px;}

    #verChn .BBS_option {height:80px;padding:0;}
    #verChn .BBS_option .listNum {float:none;position:absolute;left:5px;bottom:5px;width:auto;}
    #verChn .BBS_option .searchBox {float:none;width:100%;text-align:left;}
    #verChn .BBS_option .searchBox .search {width:calc(100% - 135px);max-width:none;}
    #verChn .BBS_option.sel02 {height:125px;}
    #verChn .BBS_option.sel02 .searchBox {margin-bottom:25px;}
    #verChn .BBS_option.sel02 .searchBox .inp_s {width:calc(50% - 5px);margin-bottom:5px;}
    #verChn .BBS_option.sel02 .searchBox .inp_s:nth-child(4) {float:left;width:auto;}
    #verChn .BBS_option.sel02 .searchBox .search {width:calc(100% - 5px);max-width:none;}
    #verChn .BBS_option.sel02 .searchBox .btn_rss {position:absolute;right:0;top:80px;}

    #verVnm .BBS_option {height:80px;padding:0;}
    #verVnm .BBS_option .listNum {float:none;position:absolute;left:5px;bottom:5px;width:auto;}
    #verVnm .BBS_option .searchBox {float:none;width:100%;text-align:left;}
    #verVnm .BBS_option .searchBox .search {width:calc(100% - 135px);max-width:none;}
    #verVnm .BBS_option.sel02 {height:125px;}
    #verVnm .BBS_option.sel02 .searchBox {margin-bottom:25px;}
    #verVnm .BBS_option.sel02 .searchBox .inp_s {width:calc(50% - 5px);margin-bottom:5px;}
    #verVnm .BBS_option.sel02 .searchBox .inp_s:nth-child(4) {float:left;width:auto;}
    #verVnm .BBS_option.sel02 .searchBox .search {width:calc(100% - 5px);max-width:none;}
    #verVnm .BBS_option.sel02 .searchBox .btn_rss {position:absolute;right:0;top:80px;}
}

@media all and (max-width:600px){
    /* 검색 */
    .BBS_option {height:80px;padding:0;}
    .BBS_option .listNum {float:none;position:absolute;left:5px;bottom:5px;width:auto;}
    .BBS_option .searchBox {float:none;width:100%;text-align:left;}
    .BBS_option .searchBox .search {width:calc(100% - 113px);max-width:none;}
    .BBS_option.sel02 .searchBox .search {width:calc(100% - 218px);max-width:none;}
    /*.BBS_option.sel03 {height:125px;}
    .BBS_option.sel03 .searchBox .inp_s {width:calc(50% - 7px);}
    .BBS_option.sel03 .searchBox .inp_s:nth-child(4) {float:left;width:auto;}
    .BBS_option.sel03 .searchBox .search {width:calc(100% - 119px);max-width:none;}
    .BBS_option.sel03 .searchBox .btn_rss {top:80px;}*/
}

@media all and (max-width:560px){
    /* 공통 */
    .pagination a {width:26px;height:26px;font-size:15px;line-height:14px;}
    .pagination>a>span {width:26px;height:26px;}
    .pagination .paging {width:150px;height:30px;}
    .pagination .paging>li>a {width:28px;height:28px;line-height:28px;}

    /* 리스트 */
    .BBSgallery li {padding:33px 10px 40px;}
    .BBSgallery li .photo {position:relative;left:auto;top:auto;margin:0 auto 20px;}

    /* 상세 */
    .BBSlist_v.BBSipsi_v .reQ .pwBox>input {width:calc(100% - 25px);}

    /*190726수정 시작*/
    .BBSlist_v.BBSjob dd .job_info li {width:100%;margin-right:auto;}
    /*190726수정 끝*/
}

@media all and (max-width:480px){
    /* 쓰기 */
    .BBSlist_w tr.w_email .inp_t {width:45% !important;}
    .BBSlist_w tr.w_addFile_s p {padding-right:73px;}
    .BBSlist_w tr.w_addFile_s .btn_rec_gray {min-width:74px;}
    .BBSlist_w tr.w_addFile_m p {padding-right:152px;}
    .BBSlist_w tr.w_addFile_m .btn_rec_gray {min-width:74px;}

    /* 사진,동영상 게시판 */
    .BBSgallery.BBSthumb li {width:100%;height:auto;padding:30px 0 20px;}
    .BBSgallery.BBSthumb li .txtL,
    .BBSgallery.BBSthumb li .txtInfo {width:100%;}
    .BBSgallery.BBSthumb li .info_comment {position:relative;left:auto;right:auto;bottom:auto;margin:5px 0 0;}

    .BBSlist_v.BBSipsi_v .reQ {padding-bottom:130px;}
}

@media all and (max-width:420px){
    /* 공통 */
    .btnArea a+a,
    .btnArea button+button {margin-left:5px !important;}

    /* 검색 */
    .BBS_option.sel02 {height:123px;}
    .BBS_option.sel02 .searchBox .inp_s {width:48.1%;margin-bottom:5px;}
    .BBS_option.sel02 .searchBox .search {width:calc(100% - 9px);max-width:none;}

    /* 상세 */
    .BBSlist_v dt {padding:25px 0;}
    .BBSlist_v .txtInfo span {margin-right:10px;padding-right:10px;font-size:14px;letter-spacing:-1px;}
    .BBSlist_v .txtInfo span::before {font-size:14px;letter-spacing:-1px;}
}

@media all and (max-width:360px){
    /* 공통 */
    /*.pagination .paging {width:80px;}*/

    /* faq */
    .BBSfaq dt,
    .BBSfaq dd,
    .BBSfaq dd.on {padding-left:45px;}

    /* 쓰기 */
    .BBSlist_w tr.w_addFile_m .fileArea>div {position:relative;padding:4px 69px 44px 0;font-size:0;}
    .BBSlist_w tr.w_addFile_m .fileArea>div+div {margin-top:10px;}
    .BBSlist_w tr.w_addFile_m .fileArea>div button {top:auto;bottom:0;}
    .BBSlist_w tr.w_addFile_m .fileArea>div .btn_fileAdd {left:0;right:auto;}
    .BBSlist_w tr.w_addFile_m .fileArea>div .btn_fileRe {width:calc(100% - 78px);}
    .BBSlist_w tr.w_addFile_m .btn_rec_gray {right:0;}

    /* 상세 */
    .BBSlist_v.BBSipsi_v dt .mark_categ {font-size:20px;line-height:28px;}
    .BBSlist_v.BBSipsi_v dt {padding:20px 0;font-size:20px;line-height:28px;}
    .BBSlist_v.BBSipsi_v dd {padding:30px 0 30px 50px}
    .BBSlist_v.BBSipsi_v .faq_q,
    .BBSlist_v.BBSipsi_v .faq_a {padding-left:50px;background-position:15px 50%;}
    .BBSlist_v.BBSipsi_v .reQ {padding-left:50px;}
    .BBSlist_v.BBSipsi_v .reQ .pwBox {padding-left:90px;}
    .BBSlist_v.BBSipsi_v .reQ .pwBox>strong {width:90px;}

    /* 이전다음 */
    .prevNnext li>strong {width:33px;margin-right:13px;}
    .prevNnext li>p {width:calc(100% - 73px) !important;}
}

@media all and (max-width:320px){
    /* 검색 */
    .BBS_option.sel02 .searchBox .inp_s {width:calc(50% - 7px);}

    /* 리스트 */
}


/*** 팝업 ***/
/*
- 팝업 layout은 common.css에서 셋팅
- board.css에서는 게시판 팝업 개별 컨텐츠만 추가
*/

.pop_wrap #pop_pwCheck,
.popLayer#pop_pwCheck {width:430px;}

@media all and (max-width:768px){

}

@media all and (max-width:460px){
    .pop_wrap #pop_pwCheck,
    .popLayer#pop_pwCheck {width:90%;max-height:90%;}
}
